<h1>Listing accounts_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sign</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts_types.each do |accounts_type| %>
  <tr>
    <td><%= accounts_type.name %></td>
    <td><%= accounts_type.sign %></td>
    <td><%= link_to 'Show', accounts_type %></td>
    <td><%= link_to 'Edit', edit_accounts_type_path(accounts_type) %></td>
    <td><%= link_to 'Destroy', accounts_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accounts type', new_accounts_type_path %>
