%h1 New Account Type

= form_tag account_types_path do

  = label :account_type, :name, 'Name'
  = text_field :account_type, 'name'


  = label :account_type, :sign, 'Sign'
  = select :account_type, :sign ,[1,-1]


  = label :account_type, :credit, 'Credit'
  = select :account_type, :credit, [1,-1]
  

  = label :account_type, :debit, 'Debit'
  = select :account_type, :debit, [1,-1]
  


  = submit_tag 'Save Changes'


=link_to 'Back', account_types_path
