%h1 Transactions
.well
 = form_tag transactions_path ,:multipart => "true"  do 
  = label :transaction, :credit, 'Credit'
  = select :transaction ,:credit ,options_for_select(@account)	
  = label :transaction, :debit, 'Debit'
  = select :transaction ,:debit ,options_for_select(@account)
  = label :transaction, :amount, 'Amount'
  = text_field :transaction ,'amount'
  = label :transaction ,:note , 'Note'
  = text_field  :transaction ,'note'
  = label :transaction ,:file , 'File'
  = file_field_tag   'file'
  = submit_tag 'Save Changes', :id => 'make submit' , :class => "btn btn-primary left"

%table#projects.table.table-striped.table-bordered.table-hover
 %thead
  %tr
   %th Credit
   %th Debit
   %th Amount
   %th Date
   %th Note
   %th User
   %th File
 %tbody
 - @transactions.each do |p|
  %tr
   %td= link_to  p.credit.name , account_path(p.credit.id)
   %td= link_to  p.debit.name ,account_path(p.debit.id)
   %td= p.amount
   %td= p.created_at
   %td= p.note
   %td= link_to  p.user.email , user_show_path(p.user.id)
   -if p.file.url != "/images/original/missing.png"
    %td
     %a{:href => p.file.url}
      = image_tag p.file.url(:thumb)


