%h1 All Projects
%table#projects
  %thead
    %tr
      %th Credit
      %th Debit
      %th Amount
      %th Date
      %th Note
      %th User
  %tbody
  - @transactions.each do |p|
    %tr
      %td= p.credit.name
      %td= p.debit.name
      %td= p.amount
      %td= p.created_at
      %td= p.note
      %td= p.user.email

= link_to 'Make New Transaction', new_transaction_path

		

