<p id="notice"><%= notice %></p>

<p>
  <b>Credit:</b>
  <%= @transaction.account_id_credit %>
</p>

<p>
  <b>Debit:</b>
  <%= @transaction.account_id_debit %>
</p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>

<p>
  <b>User:</b>
  <%= @transaction.user.email %>
</p>


<p>
  <b>Note:</b>
  <%= @transaction.note %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
