%h1 All Accounts
%table#account
  %thead
    %tr
      %th Name
      %th Amount
      %th Account Type
      %th More
  %tbody
  - @accounts.each do |p|
    %tr
      %td= p.name
      %td= p.amount
      %td= p.account_type.name
      %td= link_to "More about #{p.name}", account_path(p)

= link_to 'Add new account', new_account_path

		

