%h1 New account

= form_tag accounts_path,"class" => "navbar-form navbar-left"  do

  = label :transaction, :name, 'Name'
  = text_field :account, 'name'


  = label :account, :amount, 'Amount'
  = text_field :account, 'amount'


  = label :account, :account_type, 'Account type'
  = select :account, :account, @account_types


  = submit_tag 'Save Changes'


=link_to 'Back', accounts_path
