<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @account.amount %>
</p>

<p>
  <b>Account type:</b>
  <%= @account.account_type_id %>
</p>

<p>
  <b>Project:</b>
  <%= @account.project_id %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
